# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Libraries used by Data Scientists
* Development environment open source tools used in data science
* Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. TensorFlow
4. Seaborn
5. Caret
6. Scikit-learn
7. NumPy

Three development environment open source tools used in data science
|Data Science Tools|
|:-----------------|
|Jupyter Notebook  |
|RStudio           |
|Orange            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
hours=round(200/60,2)
print(f"{200} minutes is equal to {hours} hours")

200 minutes is equal to 3.33 hours

## Author
Germain ANANOU